.navContainer {
    /* height: 5000px; */
    border: 3px solid red
}

.navOne {
    width: 100%;
    height: 30px;
    border: 1px solid red
}

.sideContainer {
    display: flex;
    width: 90%;
    margin: auto;
    border: 5px solid green;
}

.sideHead {
    width: 15%;
    height: 10vh;
    border: 1px solid red
}

.sideBody {
    width: 50%;
    height: 80%;
    border: 1px solid black;
    position: absolute;
    left: 19.5%;
    top: 122px;
    background:orange
}