.App {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* height: 100vh; */
 

}

#inputID::placeholder {
  color: #A89999;
  opacity: 1;
}



.slider {
  background-color: white;
  height: 417px;
  width: 95%;
  margin: auto;
 
}

.slick-slide > div{
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.card {
  border: 1px solid #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
  height: 393px;
  width: 232px;
  text-align: center;
}

.card-Top
{
  
  width: 100%;
  height: 80%;

  object-fit: cover;
}
.card-Top>Img{
  display: block;
 width: 250px;
 height: 250px;  
 margin: auto;
 
  
}
.card-bottom{
  text-align: center;
  height: 30%;
 
 
}

.Admin {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}