.App {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* height: 100vh; */
  border: 3px solid blue;

}

#inputID::placeholder {
  color: #A89999;
  opacity: 1;
}



.slider {
  background-color: white;
  height: 417px;
  width: 95%;
  margin: auto;
 
}

.slick-slide > div{
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.card {
  border: 1px solid #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
  height: 393px;
  width: 232px;
}

.card-Top
{
  border: 1px solid black;
  width: 100%;
  height: 80%;

  object-fit: cover;
}
.card-Top>Img{
 width: 100%;  
 
  
}
.card-bottom{
  text-align: center;
  height: 30%;
 
 
}